<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<h1><%= title %></h1>


<form id="xForm" method="post" action="/add">
    <label for='descritpion'>Description:</label>
    <input type="text" name="descritpion" id="descritpion" value="Enter descritpion here">
    <p><label for='username'>Your username:</label>
        <input type="text" name="username" id="username" value="Your username">
    </p>
    <p><label for='last_seen'>Last seen:</label>
        <input type="date" name="last_seen" id="last_seen">
    </p>


    <p><label for='location'>Location:</label>
        <input type="text" name="location" id="location">
    </p>

    <p><input type="submit" name="g" value="Submit" id="g"></p>
</form>
<div id="results" style="margin-top:30px"></div>
</body>
</html>