<!DOCTYPE html>
<html>


<head>
    <title>
        <%= title %>
    </title>

    <%- include('../public/partials/head.ejs') %>

</head>

<body>



<%- include('../public/partials/header.ejs') %>
<h1>OFFLINE</h1>
</body>
<script >
    function initialize(){
        window.initMapNav()
    }
</script>
<%- include('../public/partials/footer.ejs') %>
</html>