body {
  padding: 50px;
  font: 20px "Poppins", Helvetica, Arial, sans-serif;
  background-color: #ebf2f7;
  text-align: center;
}


.active{
  background-color: #ebf2f7;
}

#nearby {
  color: #2579b6;
}

#recent {
  color: #2579b6;
}




.grid-container-one h2 {
  font-weight: 900;
}


#ournav {
  background-color: #ffffff;
}

#navtext {
  margin-right: 5%;
}

#tab {
  color: #2579b6;
}


#logo{
  font-size: large;
  color: #2579b6;
  font-weight: bold;
}


.navbar-text {
  color: #675352;
  font-size: 14px;
}

#section {
  background-color: #ffffff;
}


a {
  color: #00B7FF;
}
/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  width: 100%;
  alignment: center;
}

#map-container{
  border-style: solid;
  border-width: thin;
  border-color: #675352;
  margin: auto;
  width: 400px;
  height: 400px;

}

#active {
  background-color: #ebf2f7
}




thead {
  background-color: #675352;
  color: white;
}

#head {
  background-color: #ebf2f7;
  color: #675352;
}


td {
  background-color: #ebf2f7;
  color: #675352;
  text-align: left;
}

button{
  background-color: #617d57;
  color: white;
  border: none;
  border-radius: 4px;
}

.grid-container-one {
  display:grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;

}

.grid-item {

  font:  "Poppins", Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #675352;
  text-align: center;
}

#bird_img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #EBF2F7;
  padding: 10px;
}
.grid-item {
  font: 20px "Poppins", Helvetica, Arial, sans-serif;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #675352;
}

.mydiv{

  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;

}


#location {
  padding-top: 5%;

}

#desc {
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid-item img {
  /*display: block;*/
  /*width: 750px;*/
  width: 400px;
  height: 400px;
}




#chat {
  background-color: #D9E1D6;
  width: 100%;
  font:  "Poppins", Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #675352;
  text-align: center;
}

#chat h2 {
  color: #ffffff;
  background-color: #617D57;
  padding: 1%;
}

#chat_interface {
  font-size: small;
}

#who_you_are {
  display: inline;
}

#history {
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  position: relative;

}

#chat_history {
  width: 100%;
}

form {
  width: 100%;
}


#chat_input {
  width: 80%;
}

.col-sm-2{
  border-style: solid;

}

.div-label{

  text-align: center;
  background-color: #617d57;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  width: 30%;

}

.div-input{
  border-style: solid;
  border-width: thin;
  border-color: #617d57;
  flex:1;
  text-align: left;
}

#image-input{

  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#image-div {
  display: block;

  margin-top: 3%;
  margin-bottom: 3%;
}

#image-label{
  margin: auto;
  width: 50%;

  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #617d57;
  padding: 1%;
}

#g {
  background-color: #675352;
  color: white;
  font-size: 21px;
  width: 172px;
  height: 44px;
}

.form-horizontal{
  width: 50%;
  margin: auto;
  margin-top: 3%;
}

.input{
  width: 100%;
  text-align: center;
  color: #617d57;
  font-size: 17px;
  border: none;
}

#map-instructions {
  background-color: #675352;
  color: white;
  margin: auto;
  width: 500px;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 0.5%;
}

#myImage {
  font-size: 17px;
  color: #617d57;
}


/*Chat styling*/
.chatContainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

.lighter {
  border-color: #6f8269;
  background-color: #e0ebdd;
  text-align: right;
}

.chatContainer::after {
  content: "";
  clear: both;
  display: table;
}

.chatContainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.chatContainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}}