
body {
  padding: 50px;
  font: 20px "Poppins", Helvetica, Arial, sans-serif;
  background-color: #ebf2f7
  
}



.grid-container-one h2 {
  font-weight: 900;
}


#ournav {
  background-color: #ffffff;
}

#navtext {
  margin-right: 5%;
}

#tab {
  color: #2579b6;
}


#logo{
  font-size: large;
  color: #2579b6;
  font-weight: bold;
}


.navbar-text {
  color: #675352;
  font-size: 14px;
}

#section {
  background-color: #ffffff;
}


a {
  color: #00B7FF;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  width: 50%;
}

#active {
  background-color: #ebf2f7
}




thead {
  background-color: #675352;
  color: white;
}

#head {
  background-color: #ebf2f7;
  color: #675352;
}


td {
  
  background-color: #ebf2f7;
  color: #675352;
}

button{
  background-color: #617d57;
  color: white;
  border: none;
  border-radius: 4px;
}

.grid-container-one {
 display:grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;

}




.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8);  */
  /* padding: 5%; */
  font:  "Poppins", Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #675352;
  text-align: center;
}

#bird_img {
  grid-row-start: 1;
  grid-row-end: 3;

}


#location {
  padding-top: 5%;

}


#desc {
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid-item img {
  display: block;
  width: 750px;
  /* margin-top: 30%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
   
}




#chat {
  background-color: #D9E1D6;
  width: 100%;
  font:  "Poppins", Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #675352;
  text-align: center;
}

#chat h2 {
  color: #ffffff;
  background-color: #617D57;
  padding: 1%;
}


#chat_interface {
  font-size: small;
}


#who_you_are {
  display: inline;
}

#history {
  overflow-y: scroll; 
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  height: 100%; 
  border: blue solid 1px; 
  position: relative;

}

#chat_history {
  width: 100%;
}

form {
  width: 100%;
}


#chat_input {
  width: 80%;
}

