body {
  padding: 50px;
  font: 20px "Poppins", Helvetica, Arial, sans-serif;
  
}


#ournav {
  background-color: #ffffff;
}

#tab {
  color: #2579b6;
}


#logo{
  font: 50px;
  color: #2579b6;
  font-weight: bold;
}


.navbar-text {
  color: #675352;
  font-size: 14px;
}



a {
  color: #00B7FF;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  width: 50%;
}

#active {
  background-color: #ebf2f7
}




thead {
  background-color: #675352;
  color: white;
}

#head {
  background-color: #ebf2f7;
  color: #675352;
}


td {
  
  background-color: #ebf2f7;
  color: #675352;
}

button{
  background-color: #617d57;
  color: white;
  border: none;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #EBF2F7;
  padding: 10px;
}



.grid-item {
  padding: 20px;
  font-size: 30px;
  font: 20px "Poppins", Helvetica, Arial, sans-serif;
  color: #675352;
  text-align: center;
}


.grid-item img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}